.js-plotly-plot .plotly .modebar {
  /* padding-top: 7.5%; */
  /* margin-right: 0%; */
}

.my-border {
  border: 1px black dashed;
}

.dcc_control {
  margin-left: 10px;
  width: calc(100% - 20px);
}

.control_label {
  margin-bottom: 5px;
}

/* styling the slider */
.rc-slider {
  margin-bottom: 40px;
}
.rc-slider-track {
  background-color: #377eb8;
}
.rc-slider-handle {
  border: solid 2px #377eb8;
}
.rc-slider-handle-active:active {
  border-color: #377eb8;
  box-shadow: 0 0 5px #377eb8;
}
.rc-slider-dot-active {
  border-color: #377eb8;
}

